			</div>
            <footer>
            <div class="chain_holder">
                <ul class="bottom_chain">
                    <li>
                        <a class="context" href="{{ path('serv_context') }}"></a>
                    </li>
                    <li>
                        <a class="string" href="{{ path('serv_line') }}"></a>
                    </li>
                    <li>
                        <a class="audit" href="{{ path('serv_audit') }}"></a>
                    </li>
                    <li>
                        <a class="content" href="{{ path('serv_content') }}"></a>
                    </li>
                    <li>
                        <a class="act_promo" href="{{ path('serv_act_promo') }}"></a>
                    </li>
                    <li>
                        <a class="vk_promo" href="{{ path('serv_vk_promo') }}"></a>
                    </li>
                    <li>
                        <a class="reputation" href="{{ path('serv_reputation') }}"></a>
                    </li>
                    <li>
                        <a class="banners" href="{{ path('serv_banners') }}"></a>
                    </li>
                    <li>
                        <a class="consult" href="{{ path('serv_consult') }}"></a>
                    </li>
                </ul>
            </div>
                <p class="copyright">Copyright &copy; 2013</p>
            </footer>
        </div>
    </body>
</html>