<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="title" content="{{ title }}">
        <title>{{ title }}</title>
        <meta name="description" content="">
         <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet/less" href="{{ asset('bundles/sftblogblog/less/main.less') }}">
		<!-- <script src="//code.jquery.com/jquery-latest.min.js"></script> -->
		
		<!-- DON'T DELETE: This code is needed to set ajax url for check email uniqueness for jQuery validation engine -->
		<script type="text/javascript">
				 var urlForCheckEmailUniqueness = '{{ path('ajax_check_email_uniqueness') }}';
		</script>
			
		<!-- DON'T DELETE: This code is needed to set ajax url for check email uniqueness for jQuery validation engine -->
		
		{% javascripts '@sfTblogBlogBundle/Resources/public/js/*' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
		{% stylesheets '@sfTblogBlogBundle/Resources/public/css/*' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
    </head>
    <body>
            {% include 'sfTblogBlogBundle:Partials:left_menu.html.twig' %}
    <div class="spacer"></div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="main_wrapper">
            <header>
                {% include 'sfTblogBlogBundle:Layout:head.html.twig' %}
            </header>
            <div class="top_menu_holder">
                {% include 'sfTblogBlogBundle:Partials:menu_top.html.twig' %}
            </div>
            <div class="main-content">