{% extends 'sfTblogBlogBundle:Layout:layout.html.twig' %}

{% block main_content %}
<div id="container">
<ul class="icons_grid">
    <li class="row_holder">
        <ul class=row>
            <li class="icon"><a class="context" href="{{ path('serv_context') }}"></a></li>
            <li class="icon"><a class="string" href="{{ path('serv_line') }}"></a></li>
            <li class="icon"><a class="audit" href="{{ path('serv_audit') }}"></a></li>
        </ul>
    </li>
    <li class="row_holder">
        <ul class=row>
            <li class="icon"><a class="content" href="{{ path('serv_content') }}"></a></li>
            <li class="icon"><a class="act_promo" href="{{ path('serv_act_promo') }}"></a></li>
            <li class="icon"><a class="vk_promo" href="{{ path('serv_vk_promo') }}"></a></li>
        </ul>
    </li>
    <li class="row_holder">
        <ul class=row>
            <li class="icon"><a class="reputation" href="{{ path('serv_reputation') }}"></a></li>
            <li class="icon"><a class="banners" href="{{ path('serv_banners') }}"></a></li>
            <li class="icon"><a class="consult" href="{{ path('serv_consult') }}"></a></li>
        </ul>
    </li>
</ul>
<p>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>
4. между большими кнопками и футером должен быть текст<br/>

</p>
</div>
{% endblock %}