<ul class="menu_top">
    <li><a href="{{ path('default') }}">Главная</a></li>
    <li><a href="{{ path('under_construction') }}">Услуги</a></li>
    <li><a href="{{ path('under_construction') }}">Портфолио</a></li>
    <li><a href="{{ path('under_construction') }}">Блог</a></li>
    <li><a href="{{ path('under_construction') }}">О Нас</a></li>
    <li><a href="{{ path('under_construction') }}">Контакты</a></li>
</ul>